.hero{
    position:relative;
    width:100%;
    height:100vh;
    background:url("../../assets/hero-bg.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(to bottom,
    rgba(0,0,0,.85),
    rgba(0,0,0,.5),
    rgba(0,0,0,.9));

}

.heroContent{
    position:relative;
    z-index:2;
    max-width:900px;
    color:white;
    padding:20px;

}

.badge{
    margin:0 auto;
    margin-bottom:20px;
    font-size:14px;
    font-weight: 500;
    display:inline-block;
    padding:0 10px;
    border-radius:40px;
    border:1px solid #665200;
    background-color: #dd97003b;
    color:#ffbf36;
    animation:slideUp 1.2s ease;

}

.heroTitle{
    font-size:70px;
    line-height:1;
    font-weight:800;
    animation:slideUp 1.4s ease;
}

.white{
    color:white;

}

.gold{
    color:#ffbf36;

}

.hero p{
    margin:35px auto;
    width:80%;
    color:#ddd;
    line-height:1.8;
    font-size:20px;
    animation:slideUp 1.6s ease;

}

.heroButtons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:40px 0;
    animation:slideUp 1.8s ease;

}

.bookBtn{
    padding:18px 35px;
    border:none;
    border-radius:20px;
    background:#ffbf36;
    color:#000;
    display:flex;
    gap:10px;
    align-items:center;
    font-size:17px;
    font-weight:600;
    cursor:pointer;

}

.stats{
    display:flex;
    justify-content:center;
    gap:70px;
    margin-top:70px;
    animation:slideUp 2s ease;
    text-align:center;
}

.stats h2{
    color:#ffbf36;
    font-size:30px;

}

.stats span{
    color:#ddd;
    font-size:14px;

}

@keyframes slideUp{

    0% {
        opacity:0;
        transform:translateY(80px);

    }

    100% {
        opacity:1;
        transform:translateY(0);

    }

}

@media(max-width:768px){

    .heroTitle{
        font-size:50px;
    }

    .hero p{
        width:100%;
        font-size:16px;
    }

    .heroButtons{
        flex-direction:column;
        align-items:center;
    }

    .stats{
        flex-wrap:wrap;
        gap:40px;
    }

}